body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background-image: url(fundo.jpg);
}
.banner{
    
    height: 500px;
    border-top: 1px solid transparent;
}
.banner nav li{
    display: inline-block;
    list-style: none;
    border: 2px solid rgb(235, 235, 235);
    margin-left: 5px;
}
.banner nav a{
    background-color: rgb(59, 66, 107);
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    background: rgba(59, 66, 107, 0.5);
}
.banner nav a:hover{
    background: rgba(59, 66, 107, 0.9);
}
.banner nav ul{
    text-align: right;
    margin: 20px 5px 0 0;
}
.foto{
    width: 328px;
    height: 410px;
    float: right;
    padding-top: 0px;
    border: 2px solid white;
    margin-top: 10px;
}
.info1{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.info1 h1{
    text-transform: uppercase;
    font-size: 45px;
    text-shadow: 4px 4px 4px rgb(41, 41, 160);
}
main{
    width: 80%;
    margin: auto;
}
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}
footer{
    padding: 30px;
    text-align: center;
    
    color: white;
    font-size: 20px;
}
