body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background: #ccc;
}
.banner{
    background-image: url(fundo.jpg);
    height: 500px;
}
.info1{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.info1 h1{
    text-transform: uppercase;
    font-size: 45px;
    text-shadow: 4px 4px 4px rgb(41, 41, 160);
}
main{
    width: 80%;
    margin: auto;
}
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}
.info1 img{
    float: right;
    height: 500px;
    width: 300px;
}
footer{
    background-color: rgb(78, 76, 76);
    padding: 30px;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(41, 41, 160);
    color: white;
}
.card{
    text-align: center;
    margin: 30px;
}
.card2{
    text-align: left;
}